<!-- Footer -->
<footer class="text-center text-white navbar-dark bg-dark">
  <!-- Grid container -->
  <div class="container">
    <!-- Section: Social -->
    <div class="text-center text-lg-start">
      <div class="container d-flex justify-content-center py-5">
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" >
          <i class="fab fa-facebook-f"></i>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" >
          <i class="fab fa-youtube"></i>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" >
          <i class="fab fa-instagram"></i>
        </button>
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" >
          <i class="fab fa-twitter"></i>
        </button>
      </div>
    </div>
    <!-- Section: Social -->


  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2023 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">IT Solutions</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

<!-- End of .container -->