
  <div class="container-fluid" style="width: 30%; "  >
    <form class="px-4 py-3" >
      <div class="mb-3">
        <label for="exampleDropdownFormEmail1" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleDropdownFormPassword1" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Contraseña">
      </div>
      <div class="mb-3">
      </div>
      <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">¿Nuevo por aquí? Regístrate</a>
    <a class="dropdown-item" href="#">¿Se te olvidó tu contraseña?</a>
  </div>

